body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%
        font-family: Calibri;			
}

h3 {
	color: black;
	font-size: 18px;		
        font-family: Calibri;        		
}
	
h4 {
	color: black;
	font-size: 14px;
        font-family: Calibri;        		
	}
	
h5 {
	color: black;
	font-size: 12px;
	font-family: Calibri;
	text-align: right;
	}
	
p {
	text-align: right;
	font-family: calibri;
	}
hr {
	"height:2px;
	border-width:0;
	color:gray;
	background-color:gray;
	}

.border-style { 
    width: 850px;
    height: 1400px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
}

img {
    border: 1px; solid black
    border-radius: 4px;
    padding: 3px;
    float: left;
	 
.contact {
	text align: right;
}
	
#references {
	 font famly: Calibri, serif;
	color: black;
	font-size: 12px;
	text-align: center;
}
